In [1]:
import pandas as pd

In [1]:
import pandas as pd

# 3 Data structures
1. Series: 1Dim
    
2. DataFrame: 2Dim

3. Panel: Combination of multiple dataframes

In [4]:
print(pd.Series(dtype=object))

Series([], dtype: object)

In [5]:
names = ['Avinash','Harshala','Karishma','Kuldip','Nitin','Ramdas','Sachine']

pd.Series() structure:
Init signature:
pd.Series(
    data=None,
    index=None,
    dtype: 'Dtype | None' = None,
    
)

# pd.Series(data,index,dtype)

In [6]:
pd.Series(names)

0     Avinash
1    Harshala
2    Karishma
3      Kuldip
4       Nitin
5      Ramdas
6     Sachine
dtype: object

# 3 things: 
1. index
2. data/values
3. data type

In [7]:
d = pd.Series(names)
d

0     Avinash
1    Harshala
2    Karishma
3      Kuldip
4       Nitin
5      Ramdas
6     Sachine
dtype: object

In [8]:
# indexing
d[0]

'Avinash'

In [9]:
#slicing
d[3:]

3     Kuldip
4      Nitin
5     Ramdas
6    Sachine
dtype: object

In [11]:
d[-1] #-ve indexing is not allowed

KeyError: -1

In [13]:
d[::-1] #-ve step is allowed

6     Sachine
5      Ramdas
4       Nitin
3      Kuldip
2    Karishma
1    Harshala
0     Avinash
dtype: object

In [14]:
id(d)

2451667321472

In [17]:
#can modification possible????
d[0] = 'Vaibhav'

In [18]:
d

0     Vaibhav
1    Harshala
2    Karishma
3      Kuldip
4       Nitin
5      Ramdas
6     Sachine
dtype: object

In [19]:
id(d)
# id is not channgin hence its mutable in nature

2451667321472

In [20]:
d

0     Vaibhav
1    Harshala
2    Karishma
3      Kuldip
4       Nitin
5      Ramdas
6     Sachine
dtype: object

## convert all names to upper case

In [23]:
d.str.upper()

0     VAIBHAV
1    HARSHALA
2    KARISHMA
3      KULDIP
4       NITIN
5      RAMDAS
6     SACHINE
dtype: object

### fetch candidates who name starts with K

In [26]:
d.str.startswith('K')

0    False
1    False
2     True
3     True
4    False
5    False
6    False
dtype: bool

In [27]:
d[d.str.startswith('K')]

2    Karishma
3      Kuldip
dtype: object

In [28]:
n2 = ['Avi$$nash  ','  $*Harshala','Karish**ma  ','Kul*$dip','Ni  tin','Ram####das','Sach   **ine']
n2

['Avi$$nash  ',
 '  $*Harshala',
 'Karish**ma  ',
 'Kul*$dip',
 'Ni  tin',
 'Ram####das',
 'Sach   **ine']

In [30]:
f = pd.Series(n2)
f

0     Avi$$nash
1      $*Harshala
2    Karish**ma
3        Kul*$dip
4         Ni  tin
5      Ram####das
6    Sach   **ine
dtype: object

In [34]:
# remove space at prefix and suffixe side
f = f.str.strip()
f

0       Avi$$nash
1      $*Harshala
2      Karish**ma
3        Kul*$dip
4         Ni  tin
5      Ram####das
6    Sach   **ine
dtype: object

In [36]:
f = f.str.strip('$*')
f

0       Avi$$nash
1        Harshala
2      Karish**ma
3        Kul*$dip
4         Ni  tin
5      Ram####das
6    Sach   **ine
dtype: object

In [50]:
f2 = f.str.replace('$','')

C:\Users\hakim\AppData\Local\Temp/ipykernel_10256/4140515628.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  f2 = f.str.replace('$','')

In [51]:
f2.str.replace('#','')

0         Avinash
1        Harshala
2      Karish**ma
3         Kul*dip
4         Ni  tin
5          Ramdas
6    Sach   **ine
dtype: object

In [46]:
# use replace of Series
f.replace({'Avi$$nash':'Avinash','Karish**ma':'Karishma'})

0         Avinash
1        Harshala
2        Karishma
3        Kul*$dip
4         Ni  tin
5      Ram####das
6    Sach   **ine
dtype: object

In [53]:
f.str.replace('$','').str.replace('*','').str.replace('#','').str.replace(' ','')

C:\Users\hakim\AppData\Local\Temp/ipykernel_10256/3127404282.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  f.str.replace('$','').str.replace('*','').str.replace('#','').str.replace(' ','')

0     Avinash
1    Harshala
2    Karishma
3      Kuldip
4       Nitin
5      Ramdas
6     Sachine
dtype: object